<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <a href="/">Home</a>
    <form action="/subjects" method="POST">
      <input placeholder="Subject Name" name="name">
      <button>Submit</button>
    </form>
  </body>
</html>