<!DOCTYPE html>
<html>
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/scripts/contribute.js"></script>
    <link rel="icon" href='/images/browsericon.png'>
    <link rel="stylesheet" href="/stylesheets/contribute.css">

    <title>Zoomegle</title>
    <div class="header">
      <a href="/" class=logo>
          Zoomegle
      </a>
      <h2>
          
          Contribute your classes
      </h2>
    </div>
    
  </head>
  <body>
    <div class="form">
      <div id="addClasses">
        <div class="class">
          <select name="subjectId">
            <% for(const subject of subjects) { %>
              <option value="<%= subject._id %>"><%= subject.name %></option>
            <% } %>
          </select> 
          <input type="text" placeholder="Class Name" name="name">
          <input type="text" placeholder="Link" name="link">
          <button class="delete-btn" onClick="deleteClass.call(this)">x</button>
        </div>
      </div>
      <div class="btns">  
        <button type="button" class ="btn" onClick="addClass()">+</button>
        <button type="button" class ="btn submit-btn" onClick="submitClasses()">Submit</button>
      </div>
    </div>
  </body>
</html>

