<!DOCTYPE html>
    <head>
        <meta charset="utf-8">

        <title>Zoomegle</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">

        <link rel="stylesheet" href="/stylesheets/home.css">

        <div class="header">
            <h1>
                <!--insert logo image here-->
                Zoomegle
            </h1>
        </div>
    </head>

    <body>
        <!--Two big buttons for access courses and add courses-->
        <div class = "button1">
            <!--Links to access courses page (index.ejs)-->
            <a href="index.ejs">Find Courses</a>
        </div>

        <div class = "button2">
            <!--Links to add courses page-->
            <a href="addcourse.ejs">Contribute</a>
        </div>


    </body>

</html>