<!DOCTYPE html>
    <head>
        <meta charset="utf-8">

        <title>Zoomegle</title>
        <meta name="description" content="Zoomegle">
        <meta name="author" content="Andrew Huang, Matthew Fan">

        <link rel="icon" href='/images/browsericon.png'>
        <link rel="stylesheet" href="/stylesheets/home.css">

        <div class="header">
            <h1>
                <!--insert logo image here-->
                Zoomegle
            </h1>
            <p>SIZEOF total recordings</p>
        </div>
    </head>

    <body>
        <script src="/scripts/index.js"></script>
        
        <div class = "tab">
        <% for(var subject of subjects) { %>            
            <button class="tablinks" onclick="openClass"(event, coursename)><a href="/subjects/<%= subject._id %>"><%= subject.name %></a></button>
        <%}%>
        </div>
        <div class = "tabcontent">
            <h1>SUBJECT</h1>
            <div class = "table">
                <table>
                    <thead>
                      <tr>
                        <th>CourseID</th>
                        <th>Class Name</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        <tr>
                           <!--for loop for all the course listings-->
                          <th>number</th>
                          <td>classesname</td>
                          <td><a href="https://nyu.zoom.us/j/273586729">Recording</a></td>
                        </tr>
                      
                    </tbody>
                  </table>
                
            </div>

        </div>
        
    </body>

</html>