body {
    background-color:#0099ff;
    font-family: Arial;
    margin: 0;
  }

  p{
      font-size: 25px;
  }

  .header{
    padding: 60px;
    background-color: #0099ff;
    font-family: Arial;
    color: white;
   
    text-align: center;
    font-size: 30px;
}
.row:after {
    display: table;
    clear: both;
  }
  
  .column{
    float: left;
    width: 50%;
    padding: 5%;
    text-align: center;
    border: none;
    background-color: #0099ff;
    color: white;
  }


.btnTab{
    border: none;
    color: inherit;
    background-color: inherit;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
    padding: 20px;
    margin: none;
}

.btnTab:hover{
    color: black;
  }



a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s;
}

a:hover{
    color:black;
    /*font-size: 33px;*/
}


